.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 250px;
    gap: 10px;
    padding: 20px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-table {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    gap: 4px;
    table-layout: auto;
}