.header {
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #FFF;
    width: 100%;
    box-sizing: border-box;
}

.header-title {
    display: flex;
    gap: 6px;
    color: #000;

    /* 18 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 155.556% */
}

.header-menu {
    display: flex;
    gap: 16px;
}